@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"> CashCoath </h1>
    <p>Compre cursos que irão enfatizar seu cerebro e melhora a sua tendência de marketing e vendas digital.</p>
    <div class="">
        <img src="/img/CashChoat 1.png" />
    </div>
</div>
